$mobile-breakpoint: 600px;
$tablet-breakpoint: 900px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text: #000000de;
  --white-text: #fffffff2;
  --background: #EEE;
  --blue: #005a9b;
  --yellow: #ffca28;
}

html, body { height: 100%; }
body { font-size: 62.5%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

